.CARDS{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    color: blue;
    /* margin-left: 20px; */
    width: 20% !important;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid black !important;
    /* display: grid !important; */
    padding: 20px;
    /* grid-template-rows: subgrid; */
}
.boo{
    margin-bottom: 100px !important;
    z-index: 1 !important;

}
.Main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* grid:3              !important; */
    justify-content: center;
    margin-left: 120px;
    align-items: center;
}
.imgss{
    width: 100%;
    height: 100%;
}
.nave{
    position: fixed !important;
    width: 100% !important;
}